.container {
  display: flex;
  justify-content: space-between;
}
.input{
	width: 100%;
}
.card-text{
	list-style-type: none;
}
.img-fluid{
	padding: 4px;
}
.btn {
	background-color: #103c54;
	border: none;
	color: #ffffff;
	text-decoration: none;
	text-decoration-line: none;
}
#accordeonBtn:active, :hover, :focus {
	text-decoration: none;
	background-color: transparent;
}
#accordeonBtn{
	text-decoration: none;
	background-color: transparent;
	color: #103c54;
}