.container {
  display: flex;
  justify-content: space-between;
}
.input{
	width: 100%;
}
.card-text{
	list-style-type: none;
}
.img-fluid{
	padding: 4px;
}
.btn{
	background-color: #103c54;
	border: none;
	color: #ffffff;
}
.mt-3 .col .align-self-start .mr-3 .text-right .btn .btn-link .a :link, :active{
	color: #ffffff;
	text-decoration: none;
}
.btn :hover, :active{
	text-decoration: none;
	background-color: #006a9b;
}
.textarea, #formCtrlAddresse{
	resize: none;
}
.mb-0 .btn btn-link{
	background-color: none;
}